/* *: universal selector */

*{
    margin: 0;
    padding: 10;
} 

/* tag name selector */

/* p{
    color: red;
}

h3{
    font-size: 14px;
} */

/* class-name selector */
/* .heading {
    font-style: italic;
    color: green;
} */

/* id selector */
/* #main-language{
    font-weight: bold;
} */

h1{
    font-size: 20px;
    color: green;
    font-weight: bold;
}
h2{
    font-size: 16px;
    color: blue;
}

div {

    height: fit-content;
    width: 12%;
    border: 1px solid black;
    font: Verdana;
    text-align: center;

  }

  img{
    border-radius: 100px;
  }
